title {
  text-align: center;
}

h1 {
  text-align: center;
  font-family:Impact;
  color: #FF6600;
}

h2{
	color:#FF6600;
	/* margin-left:115px; */
	text-align: center;
}

h4 {
  text-align:center;
  color: #FF6600;
}

ul li{
  color:#FF6600;
}

#container{
	width: 628px;
	margin-left: auto;
	margin-right: auto;
}

#circle {
	margin-left: 5px;
	height:100px;
	width:100px;
	border-radius:100%;
	border: 2px solid black;
}

#person{
	display: inline-block;
}

div img {
  height:100px;
	width:100px;
	border-radius:100%;
}

div p {
	margin-left: 15px;
	color:#FF6600;
}

#text{
	display:inline;
	float:right;
}

p {
	color:#FF6600;
	font-size: larger;
}

#gameplay1 {
	width: 720px;
}
