title {
  text-align: center;
}

h1 {
  text-align: center;
  font-family:Impact;
  color: orange;
}

h2{
	color:orange;
	margin:center;
}

h4 {
  text-align:center;
  color: orange;
}

ul li{
  color:orange;
}

#circle {
	margin-left: 5px;
	height:100px;
	width:100px;
	border-radius:100%;
	border: 2px solid black;
}

#person{
	display: inline-block;
}

div img {
  height:100px;
	width:100px;
	border-radius:100%;
}

div p {
	margin-left: 15px;
	color:orange;
}

#text{
	display:inline;
}

p {
	color:orange;
}
